
@font-face {
    font-family:'Swiss';
    src: url('../swiss721-rounded-webfont.woff2') format('woff2'),
         url('../swiss721-rounded-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    width: 100%;
    height:100vh;
    background-color:white;
    font-family:'Swiss'; 
    /*cursor: url('../curseur/test2.png')2 2, pointer;*/
}

.italique {
    font-style: italic;
    font-family:'Swiss'; font-size: 13px;
    font-weight: 100;
}
#categorie1{
    float: left;
    width: 50%;
    border-right: 1px solid black;
    height: 100%;
    overflow:hidden;
    overflow-y: scroll
    font-style:'Swiss';
}

#categorie2{
    float: left;
    width: 50%;
    border-right: 1px solid black;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-style:'Swiss';
}

#projet_image{
    width: 100vh;
}

.projet_image1{
    width: 99%;
    
    margin-right: 3px;
    margin-bottom: 100px;
}

img {
    width:100%;
    margin:3px;
    
    
    
    
    
}
video {
    width:100vh;
    margin:3px;
    
}
.video1 {
    width:55%;
    object-position: center;
    display:block;
    border-width:15px;
    border-top-width: 50px;
    border-style:outset;
    border-color:black;
    -moz-border-radius:10px 1Opx;
    -webkit-border-radius:10px 10px;
    border-radius:10px 10px;
    
}
.video2{
    width:90%;
    display:block;
    border-width:15px;
    border-style:outset;border-color:black;
    -moz-border-radius:15px 15px;
    -webkit-border-radius:15px 15px;
    border-radius:15px 15px;
    
}
.titre1{
    font-family:"Swiss"; font-size: 12px;
    margin: 1px;
    font-weight: 700;
    
}
.titre2{
    font-family:"Swiss"; font-size: 12px;
    margin: 1px;
    font-weight: 700;
    
}.titre3{
    font-family:"Swiss"; font-size: 12px;
    margin: 1px;
    font-weight: 700;
    
}.titre4{
    font-family:"Swiss"; font-size: 12px;
    margin: 1px;
    font-weight: 700;
    
}
.legende{
    font-family:'Swiss'; font-size: 12px;
    text-align: center;
    font-weight: 700;
    margin: 1px;
}
.explication{
    font-family:"Swiss"; font-size: 12px;
    margin-left:3px;
    margin-right:3px;
    font-weight: 700;
    column-count: 2;
    margin-bottom: 3px;
    
    
}
.explication2{
    font-family:"Swiss"; font-size: 12px;
    font-weight: 700;
    word-spacing: 140px;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-color: none;
    text-align: center;
    margin-top: 6px;
    
    
    
}
 a {
    text-decoration: none;
    font-size: 20px;
    text-decoration-color: black;
    color: black;  
    font-family:"Swiss"; font-size: 12px;
    font-weight: bolder;
      }
a:visited {
      color:black;
      }
a:hover{
    border-bottom: 0.9rem solid;
}
.explicationprojet{
    font-family:"Swiss"; font-size: 12px;
    top: 0px;
    font-weight: 700;
    margin-left:3px;
    margin-right:3px;
 
}
.extrait{
    font-family:'Swiss'; font-size: 12px;
    margin-left: 20px;
}
.soustitre{
    margin-left: 10px;
    font-family: 'Swiss'; font-size: 12px;
    font-weight: 700;
}
.flag{
    width:35px;
    height: auto;
}
.insta{
    width:50%;
    height: auto;
}